.health-insights-wrapper {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0rem 0.5rem 0.625rem rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.cycle-insight, .period-insight {
    width: 40%;
    display: inline-block;
    text-align: center;
}

.cycle-insight {
    margin-left: -2rem;
    margin-right: 1rem;
}

.cycle-insight img, .period-insight img {
    height: auto;
    width: 2.5rem;
    float: right;
    vertical-align: middle;
}

.cycle-insight span, .period-insight span {
    line-height: 2.5rem;
    vertical-align: middle;
}

.cycle-insight h2, .period-insight h2 {
    color: var(--grey);
}