.journalpage-wrapper {
    display: flex;
    height: 88vh;
    background-color: white;
}
    
.journalpage-wrapper .left-wrapper {
    width: 23%;
}

.journalpage-wrapper .right-wrapper {
    width: 77%;
}