.nav-wrapper {
    display: flex;
    height: 12vh;
    background: black;
    align-items: center;
    padding: 0 3em;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;
}

.nav-header {
    color: #dd719c;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    padding-left: 1em;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    right: 0;
    padding-right: 3em;
    position: absolute;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding-right: 1em;
    line-height: 0;
}

.nav-link:hover {
    color: pink;
    cursor: pointer;
}

.nav-logo-wrapper {
    display: flex;
    cursor: pointer;
}

.nav-logo {
    width: 3em;
    margin: 0;
    align-self: center;
}