.homepage-wrapper {
    display: flex;
    background-color: white;
    height: 88vh;
}

.homepage-wrapper .left-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 77%;
    height: 92%;
}

.homepage-wrapper .right-wrapper {
    width: 23%;
}